/silverstripe-cache/
_ss_environment.php
/vendor/
/assets/
.vagrant
.idea
/logs/
/.docker
docker-compose.yml
.env
.graphql-generated/
_graphql/
/public/_resources/
/public/assets/
silverstripe.log
*.DS_Store
.phpunit.result.cache
